main .form {
  background-color: var(--color-white);
  padding: var(--spacing-s);
  border-radius: 16px;
  filter: drop-shadow(
          10px 25px 50px rgba(0 0 0 / 10%)
  );;
  border: solid 1px var(--bg-color-grey);
}

main .form h2 {
  padding: var(--spacing-s) 0;
  font-size: var(--heading-font-size-l);
}

main .form h3 {
  padding-top: var(--spacing-s);
  font-size: var(--heading-font-size-s);
}

main .form input,
main .form textarea,
main .form select {
  border: solid 1px var(--bg-color-grey);
  padding: var(--spacing-xxs) var(--spacing-xs);
  width: 100%;
  max-width: 50rem;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: var(--body-font-size-xs);
  line-height: var(--heading-font-size-s);
  font-family: var(--body-font-family);
}

main .form textarea {
  min-height: 100px;
}

main .form input:hover,
main .form select:hover {
  border-color: #2c2c2c;
}

main .form label {
  display: block;
  padding-bottom: var(--spacing-xxs);
  box-sizing: border-box;
  font-size: var(--body-font-size-xs);
  line-height: var(--body-font-size-xs);
}

main .form label.required::after {
  content: "*";
  color: #000;
  padding-left: var(--spacing-xxxs);
}

main .form .field-wrapper {
  margin-bottom: var(--spacing-m);
}

main .form .form-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin: var(--spacing-xs) 0;
}

main .form .form-checkbox-wrapper input[type='checkbox'] {
  appearance: none;

  /* stylelint-disable */
  -webkit-appearance: none;
  -moz-appearance: none;

  /* stylelint-enable */
  height: 20px;
  width: 20px;
  position: relative;
  border: unset;
  padding: unset;
  margin-right: var(--spacing-xxs);
  margin-left: 0;
}

main .form .form-checkbox-wrapper input[type='checkbox']::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  content: ' ';
  background: url('./checkbox.svg');
  background-size: contain;
}

main .form .form-checkbox-wrapper input[type='checkbox']:checked::after {
  background: url('./checkbox-checked.svg');
  background-size: contain;
  content: ' ';
}

main .form .form-checkbox-wrapper label {
  display: block;
  font-size: var(--body-font-size-xxs);
  line-height: var(--body-font-size-xxs);
  padding-bottom: 0;
}

main .form-legal-wrapper p {
  font-size: var(--body-font-size-xxs);
  line-height: var(--body-font-size-xxs);
  font-style: italic;
}

main .form button {
  font-family: var(--body-font-family);
}

@media screen and (min-width: 900px) {
  main .form {
    padding: var(--spacing-ml);
  }

  main .form .field-wrapper {
    display: flex;
  }

  main .form label {
    width: 72%;
  }
}
