main .section.form-container {
    margin: .5rem auto 0;
}

.form-container .default-content-wrapper {
    padding: 1.25rem 1.25rem 0;
    text-align: center;
}

.form-container .default-content-wrapper h1 {
    font-family: "Montserrat",Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    overflow-wrap: break-word;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 3rem;
}

.form-container .default-content-wrapper p {
    color: #3e3d48;
    font-family: "Unna";
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.form-container .form.block {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color:transparent;
}

.form-container form {
    padding: 20px
}

.form-container .field-wrapper {
    padding: 20px 0;
}

.form-container .field-wrapper label {
    color: #3e3d48;
    display: block;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .form-container .default-content-wrapper {
        padding: 1.875rem 1.25rem;
    }

    .form-container .default-content-wrapper h1 {
        margin: .83em 0;
    }
}


main .form {
  padding: var(--spacing-s);
}

main .form h2 {
  padding: var(--spacing-s) 0;
  font-size: var(--heading-font-size-l);
}

main .form h3 {
  padding-top: var(--spacing-s);
  font-size: var(--heading-font-size-s);
}

main .form input,
main .form textarea,
main .form select {
    border-radius: 6px;
    border: 1px solid #8b8a93;
    display: block;
    font-size: 1rem;
    height: auto;
    line-height: normal;
    margin-bottom: 0;
    padding: 10px;
}

main .form textarea {
  min-height: 100px;
}

main .form input:hover,
main .form select:hover {
  border-color: #2c2c2c;
}

main .form label.required::after {
  content: "*";
  color: #000;
  padding-left: var(--spacing-xxxs);
}

main .form .form-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin: var(--spacing-xs) 0;
}

main .form .form-checkbox-wrapper input[type='checkbox'] {
  appearance: none;

  /* stylelint-disable */
  -webkit-appearance: none;
  -moz-appearance: none;

  /* stylelint-enable */
  height: 20px;
  width: 20px;
  position: relative;
  border: unset;
  padding: unset;
  margin-right: var(--spacing-xxs);
  margin-left: 0;
}

main .form .form-checkbox-wrapper input[type='checkbox']::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  content: ' ';
  background: url('./checkbox.svg');
  background-size: contain;
}

main .form .form-checkbox-wrapper input[type='checkbox']:checked::after {
  background: url('./checkbox-checked.svg');
  background-size: contain;
  content: ' ';
}

main .form .form-checkbox-wrapper label {
  display: block;
  font-size: var(--body-font-size-xxs);
  line-height: var(--body-font-size-xxs);
  padding-bottom: 0;
}

main .form-legal-wrapper p {
  font-size: var(--body-font-size-xxs);
  line-height: var(--body-font-size-xxs);
  font-style: italic;
}

main .form button {
    font-family: var(--body-font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
}

main .form button:hover {
    background: #38326c;
}

.form-submit-wrapper.field-wrapper {
    padding: 0;
}

.legal-note {
    font-family: "Unna";
    font-size: 1rem;
    padding: 0 16px 24px;
    margin-top: 1rem;
    color: #3e3d48;
}

@media screen and (min-width: 1024px) {
  main .form {
    padding: var(--spacing-ml);
  }

  .form-container form {
    padding: 0;
    padding-bottom: 1rem;
  }

  .legal-note {
    max-width: 1312px;
    padding: 0 64px 24px;
  }
}
