/* header and nav layout */
header .nav-wrapper {
    background-color: var(--background-color);
    width: 100%;
    z-index: 2;
    position: fixed;
    border-bottom: 1px solid #ccc;
    height: var(--nav-height-mobile);
}

header nav {
    box-sizing: border-box;
    display: grid;
    grid-template:
    'hamburger brand tools' var(--nav-height-mobile)
    'sections sections sections' 1fr / auto 1fr auto;
    align-items: center;
    gap: 0 2em;
    height: var(--nav-height-mobile);
    font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
    overflow-y: auto;
    min-height: 100vh;
}

header nav p {
    margin: 0;
    line-height: 1;
}

header nav a:any-link {
    color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
    grid-area: hamburger;
    height: 22px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

header nav .nav-hamburger button {
    height: 22px;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: var(--background-color);
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    content: '';
    position: absolute;
    background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
    top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
    height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: 3px;
    left: 1px;
    transform: rotate(45deg);
    transform-origin: 2px 1px;
    width: 24px;
    height: 2px;
    border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: unset;
    bottom: 3px;
    transform: rotate(-45deg);
}

/* brand */
header .nav-brand {
    grid-area: brand;
    flex-basis: 128px;
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    line-height: 1;
}

header nav .nav-brand .icon {
    width: auto;
}

header nav .nav-brand img {
    width: 184px;
    height: var(--nav-height-mobile);
}

/* sections */
header nav .nav-sections {
    grid-area: sections;
    flex: 1 1 auto;
    position: fixed;
    left: calc(-50vw + 50%);
    top: var(--nav-height-mobile);
    visibility: hidden;
    background-color: white;
    width: 100%;
    height: 100vh;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: translate(-100%, 0);
    transition: all .5s ease;
    z-index: 2;
    overflow-y: scroll;
}

header nav .nav-sections > div {
    border-bottom: 1px solid #ccc;
}

header nav[aria-expanded="true"] .nav-sections {
    display: block;
    transform: translate(0%, 0) !important;
    visibility: visible;
    align-self: start;
}

header nav .nav-sections a {
    margin: 0;
}

header nav .nav-sections ul {
    list-style: none;
    font-size: var(--body-font-size-s);
    margin: 0;
}

header nav .nav-sections ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--body-font-size-xs);
}

header nav .nav-sections ul li strong {
    height: 48px;
    line-height: 48px;
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 15px;
}

header nav .nav-sections ul li.group-label {
    display: block;
}

header nav .nav-sections .group-label strong:hover {
    text-decoration: underline;
}

header nav .nav-sections .group-label .link-group {
    transition: all 0.35s;
    height: 0;
    display: none;
}

header nav .nav-sections .group-label.open .link-group {
    height: 100%;
    display: block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

header nav .nav-sections .group-label .link-group li {
    padding: 12px 12px 12px 40px;
    font-size: var(--body-font-size-xs);
}

header nav .nav-sections .group-label strong:hover,
header nav .nav-sections .link-group li:hover {
    text-decoration: underline;
}

/* tools */
header nav .nav-tools {
    grid-area: tools;
    padding-right: 20px;
}

header nav .nav-tools .button-container a {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    padding: 0;
    width: 40px;
    color: transparent;
}

/* icons */
header nav .nav-sections .icon {
    padding: 0 20px;
}

header nav .nav-sections .icon img {
    width: 20px;
}

header nav .nav-tools .button-container a .icon {
    padding-left: 7px;
}

header nav .nav-tools .button-container a .icon img {
    width: 25px;
    height: 25px;
}

@media only screen and (min-width: 768px) {
    header .nav-wrapper {
        height: var(--nav-height-desktop);
    }

    header nav {
        grid-template:
    'hamburger brand tools' var(--nav-height-desktop)
    'sections sections sections' 1fr / auto 1fr auto;
    }

    header nav .nav-brand .icon {
        width: 20px;
    }

    header nav .nav-brand img {
        height: var(--nav-height-desktop);
        width: 280px;
    }

    header nav .nav-tools .button-container a{
        border-radius: 50px;
        width: auto;
        height: 25px;
        padding: 12px 24px;
        color: white;
    }

    header nav .nav-tools .button-container a .icon {
        padding-right: 8px;
        padding-left: 0;
    }

    header nav .nav-sections {
        top: var(--nav-height-desktop);
        width: 350px;
        height: 100vh;
    }
}
