.bloc-enroll-banner {
    align-items: center;
    background: var(--color-marketing);
    color: var(--color-text-inverse);
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    padding: 2rem 5.188rem;
}

@media (max-width: 768px) {
    .bloc-enroll-banner {
        display: block;
        padding: 2rem;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .bloc-enroll-banner {
        display: block;
        padding: 2rem;
        text-align: center;
    }
}

.bloc-enroll-banner-text {
    padding-right: 0.625rem;
}

.bloc-enroll-banner-text-title {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin: 0;
    color: var(--neutral-white, #FFF);
    text-align: left;
}

.bloc-enroll-banner-text-subtitle {
    line-height: 1.5rem;
    margin: 0;
    color: var(--neutral-white, #FFF);
    text-align: left;
}

@media (max-width: 768px) {
    .bloc-enroll-banner-text-subtitle {
        padding: 0.625rem 0;
    }
}

@media (max-width: 600px) {
    .bloc-enroll-banner-text-subtitle {
        padding: 0.625rem 0;
    }
}

.bloc-enroll-banner-link .round-button {
    background: var(--neutral-white, #FFF);
    color: var(--icon-brand, #1E1852);
    border-radius: 1.875rem;
    display: table;
    margin: auto;
    padding: 0.813rem 2rem;
    text-align: center;
    text-decoration: none;
}